<%- include("partials/head.ejs")%>

<body>	
  <header>
    <div class="container-fluid" id="bodymenu">
      <div class= "row" id="cajadellogo">
        <div class="col-12">
          <img src="" alt="logo" class="logo" height="40px">
        </div>
      </div>
      <div class= "row">
        <div class="col-2">

        </div>
        <div class= "col-4">
          <ul class="navbar" >
            <li><a class= "inicio" href="">HOME</a></li>
            <li><a class= "inicio" href="">QUIENES SOMOS</a></li>
            <li><a class= "inicio" href="">CATÁLOGO</a></li>
            <li><a class= "inicio" href="">DISEÑO</a></li>
          </ul>  
        </div>
        <div class="col-3">

        </div>
       <div class="col-2">
          <ul class="navbar">
            <li><a class= "inicio" href="">CONTACTO</a></li>
            <li><a class= "inicio" href="">CARRITO</a></li>
          </ul>
        </div>
        <div class="col-1">

        </div>
        </div>
      </div>
    </div>
  </header>
</body>
</html>